<h1>{{ post.title }}</h1>
<p>작성자: {{ post.author.username }}</p>
<p>{{ post.body }}</p>

{% for image in post.images.all %}
    <img src="{{ image.image.url }}" width="300">
{% endfor %}

<!-- 수정 버튼 추가! -->
<a href="{% url 'edit' post.id %}">수정하기</a>

<!-- 목록 돌아가기 -->
<a href="{% url 'home' %}">목록으로 가기</a>

<form action="{% url 'toggle_like' post.id %}" method="post">
    {% csrf_token %}
    <button type="submit">
      {% if user in post.likes.all %}
        좋아요 취소
      {% else %}
        좋아요
      {% endif %}
    </button>
  </form>
  <p>좋아요 수: {{ post.likes.count }}</p>
  
<h3>댓글</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">댓글 작성</button>
</form>

<ul>
  {% for comment in comments %}
    <li>{{ comment.content }} - {{ comment.created_at }}</li>
  {% endfor %}
</ul>
